{% extends "base.html" %}

{% block title %}someone is dancing{% endblock %}

{% block content %}
    
<!-- Three -->
<section id="three" class="wrapper style2">
    <div class="inner">
        <header class="align-center">
            <p class="special">blue archive</p>
            <h2>Alice dancing</h2>
        </header>
        <div class="gallery">
            <div>
                <div class="image fit">
                    <a href="#"><img src="/media/images/squat.gif" alt="" /></a>
                </div>
            </div>
            <div>
                <div class="image fit">
                    <a href="#"><img src="/media/images/shakehand.gif" alt="" /></a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}